.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: grey;
}

.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}
